{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil - Moteur de Recherche INSEE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Gabarito:wght@700&display=swap">
    <style>
        body {
            font-family: 'Gabarito', sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
        }
        h1 {
            color: #F7F7F7;
        }
        h2 {
            color: #00487E;
        }
        .banner {
            background-color: #00487E;
            color: #F7F7F7;
            padding: 10px;
        }
        .banner h1 {
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body>
    <div class="banner">
        <h1>Accueil</h1>
    </div>
    <i class="fi fi-tr-circle-book-open"></i>
    <h2>Moteur de Recherche</h2> 
    <h2>Décès enregistrés sur le fichier des personnes décédées de l'INSEE</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'traitement_formulaire' %}">
        <button type="submit">Soumettre</button>
    </form>
    
    
    
</body>
</html>
